@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;


}

.wrapper {
    width: 100%;
    margin-top: 15%;
}

.wrapper_clock {
    text-align: center;
    width: 30%;
    height: 250px;
    margin: auto;
    background-color: #FCC666;
    border-radius: 5px;
    padding-top: 30px;
}

.day {
    font-size: 35px;
   color: #4663BE;
}

.clock {
    color: #236AD6;
    font-size: 35px;
}